@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

/*! mixin flex  */
@mixin flex(){
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
/*! mixin grid  */
@mixin grid($val) {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
   gap:2rem;
}
/*! variables */
$black:#000000;
$white:#fff;

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none; outline: none;
  text-decoration: none;
  transition: 0.2s ease;
  font-family: 'Mulish', sans-serif;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

section{
  padding: 3rem 7%;
}

.heading{
  text-align: center;
  padding: 3rem 0;
    h3{
        font-size: 3rem;
        color: $black;
        font-weight: 700;
    }
    .straight-line{
        width: 5rem;
        border: 1px solid $black;
        margin: 3rem auto 0;
    }
    p{
        font-size: 1.5rem;
        color: #7D7987;
        padding: 2rem 0;
        line-height: 3rem;
        font-weight: 300;
    }
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: #4089ED;
  cursor: pointer;
}

#menu-btn{
  font-size: 2.5rem;
  display: none;
}
/*! header start  */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7%;
    .logo{
        i{
          background-color: #4089ED;
          color: $white;
          padding: 15px;
          border-radius: 50%;
          font-size: 1.5rem;
        }
    }
  .navbar{
     a{
        font-size: 1.8rem;
        color: #1F1534;
        margin-right: 2.5rem;
     }
   }
}
/* header end  */

/*! home start  */
.home{
  @include flex();
  min-height: 80vh;
    .content{
        flex: 1 1 40rem;
            h3{
                font-size: 4.5rem;
                color: $black;
                font-weight: 700;
            }
            p{
                font-size: 2rem;
                color: #7D7987;
                padding: 2rem 0;
                line-height: 3rem;
            }
            .btn{
                padding: 1.2rem 3.75rem;
                background: #458FF6;
                color: $white;
            }
    }
    .image{
        flex: 1 1 30rem;
            img{
                width: 100%;
            }
    }
}
/*! home end  */

/*! services start  */
.services{
    .box-container{
        @include grid(31rem);
         .box{
            box-shadow: 10px 40px 50px 0px #E5E9F666;
            background: #FFFFFF;
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            border-radius: 20px;
            padding: 3rem;
             &:hover{
                transform: translateY(-5px);
             }
                img{
                    width: 6rem;
                    padding: 1rem 0;
                }
                h3{
                    font-size: 2rem;
                    color: $black;
                }
                p{
                    font-size: 1.4rem;
                    color: #7D7987;
                    padding: 1rem 0;
                }
         }
    }
}
/*! services end  */

/*! healthcare start  */
.healthcare{
    .box{
      @include flex();
      gap: 10rem;
      padding: 8rem 0;
        &:nth-child(2){
          flex-wrap: wrap-reverse;
          padding:4rem 0;
        }
        .image{
           flex: 1 1 40rem;
              img{
                width: 100%;
              }
        }
        .content{
            flex: 1 1 40rem;
              h3{
                font-size: 3rem;
                font-weight: 700;
              }
              .straight-line{
                 border: 1px solid $black;
                 width: 5rem;
                 margin: 2rem 0;
              }
              p{
                 font-size: 1.5rem;
                 color: #7D7987;
                 line-height: 3rem;
              }
        }
        .btn{
           border: 1px solid #458FF6;
           color: #458FF6;
           margin: 3rem 0;
              i{
                padding-left: 0.5rem;
              }
        }
    }
}
/*! healthcare end  */

/*! references start */
.references{
    .box{
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
      border-radius: 24px;
      padding: 5rem;
        .heading{
            h3{
              color: $white;
            }
            .straight-line{
                border: 1px solid $white;
            }
        }
        .row{
            @include flex();
            justify-content: space-around;
              .user{
                display: flex;
                align-items: center;
                gap: 2rem;
                color: $white;
                 img{
                    width: 10rem;
                 }
                 .info{
                    h3{
                       font-size: 2rem;
                       font-weight: 700;
                    }
                    p{
                       font-size: 1.5rem;
                       color: rgba(255, 255, 255, 0.85);
                       padding: 1rem 0;
                    }
                 }
              }
              .details{
                font-size: 1.8rem;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.9);
                line-height: 3rem;
              }
        }
    }
    .arrow-nav{
      margin-top: 5rem;
      text-align: center;
         img{
           width: 25rem;
         }
   }
}
/*! references end */

/*! blog start */
.blog{
    .box-container{
       @include grid(31rem);
         .box{
           box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
           border-radius: 20px;
           width: 35rem;
           margin: 0 auto;
           &:hover{
            transform: translateY(-5px);
            }
            .image{
                width: 35rem;
                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
              }
              .content{
                 padding: 2rem;
                    h3{
                      font-size: 2rem;
                    }
                    p{
                      font-size: 1.3rem;
                      color: #7D7987;
                      padding: 1rem 0;
                      line-height: 2rem;
                    }
                    .btn{
                      padding: 0;
                        i{
                          padding-left: 1rem;
                        }
                    }
              }
         }
    }
}
/*! blog end */

/*! footer start */
.footer{
  margin-top: 8rem;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: $white;
    .box-container{
      @include grid(29rem);
      padding: 5rem 0;
        .box{
           h3{
             font-size: 2rem;
             margin-bottom: 2rem;
              i{
                background-color: $white;
                color: #5B9BF3;
                padding: 15px;
                border-radius: 50%;
                font-size: 1.3rem;
              }
           }
           p{
            font-size: 1.2rem;
            padding: 1rem 0;
            line-height: 2.5rem;
           }
           .links{
            display: block;
            color: $white;
            font-size: 2rem;
            padding: 1rem 0;
              &:hover{
                padding-left: 20px;
              }
           }
        }
    }
}
/*! footer end */

/*! media queries start */
@media (max-width:991px){
html{
    font-size: 55%;
  }

.header{
    padding:2rem;
}

section{
    padding:3rem 2rem;
}

}

@media(max-width:768px){
  .home{
    flex-wrap: wrap-reverse;
  }
   .header{
      #menu-btn{
        display: block;
      }
      .navbar{
          position: absolute;
          top: 10%; right: 0;
          background-color: $white;
          height: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            &.active{
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          a{
            display: block;
            padding: 1.8rem;
            margin: 1rem;
          }
      }
   }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .home{
    .content{
       h3{
         font-size: 4rem;
       }
       p{
         font-size: 1.5rem;
       }
    }
  }
}
/*! media queries end */